 {% extends 'Forms/base.html' %}

{% block title %}
    Modificar password
{% endblock %}

{% block poshead %}
	<script type="text/javascript">
		function checkPass()
		{
		    var pass1 = document.getElementById('pass1');
		    var pass2 = document.getElementById('pass2');
		    var message = document.getElementById('confirmMessage');
		    var correcto = "#66EF66";
		    var incorrecto = "#ff3232";
		    if(pass1.value == pass2.value){
		        pass2.style.backgroundColor = correcto;
		        message.style.color = correcto;
		        message.innerHTML = "Las contraseñas coinciden";
		    }else{
		        pass2.style.backgroundColor = incorrecto;
		        message.style.color = incorrecto;
		        message.innerHTML = "Las contraseñas deben de coincidir";
		    }
		}  
	</script>

{% endblock%}

{% block formulario %}
	{% if errors %}
        <div class="alert-box warning radius">{{errors}}</div>
    {% endif %}
	<form id='formulario' method='post' >{% csrf_token %}
		<h4 align="center">Cambiar Contraseña</h4>
		<label>Contraseña  actual</label>
		<input type="password" name="password_actual" placeholder="Contraseña" required/>
		<label>Nueva Contraseña</label>
		<input type="password" id="pass1" pattern=".{5}" onkeyup="checkPass();" name="password_nuevo" placeholder="Contraseña" data-tooltip aria-haspopup="true" title="Mínimo 5 caracteres" required/>
		<label>Confirmar Contraseña</label>
		<input type="password" id="pass2" onkeyup="checkPass();" name="verificacion_password" placeholder="Contraseña" required/>	
		<p id="confirmMessage" class="confirmMessage"></p>
		<input type="submit" value="Continuar" class="button expand"/>
	</form>
{% endblock %}