{% extends 'Forms/base.html' %}

{% block title %}
    Nueva Secretaria - Jefe de Departamento
{% endblock %}

{% block formulario %}
    {% if errors %}
            <div class="alert-box warning radius">{{errors}}</div>
    {% endif %}
    <form id='formulario' method='post' action='/nueva_secretaria/'>{% csrf_token %}
        <h4 align="center">Nueva Secretaria</h4>

        <label>Usuario</label>
            <input type="text" name="username" placeholder="Usuario" required/>

        <label>Contraseña </label>
            <input type="password" name="password" placeholder="Contraseña" required/>

        <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre" required/>

        <label>Apellido</label>
            <input type="text" name="apellido" placeholder="Apellido" required/>

        <label>Codigo</label>
            <input type="text" name="codigo" pattern="[0-9]{9}" maxlength=9 placeholder="Codigo" data-tooltip aria-haspopup="true" title="Código UDG, solo números, 9 dígitos" required/>
            
        <label>Correo electrónico</label>
            <input type="email" name="correo" placeholder="Email" required/>
            <input type="submit" value="Continuar" class="button expand"/>
    </form>
{% endblock %}