
{% if ajax %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/autocomplete.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/jquery.timepicker.css' %}">
	<script type="text/javascript" src="{% static 'js/autocomplete.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/datetime/jquery.timepicker.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/datetime/datepair.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/datetime/jquery.datepair.min.js' %}"></script>

	<script type="text/javascript">
		var next_hor = 0;

		$(document).ready(function()
		{
			$('.in-profesor').autocomplete(
			{
			    lookup: [
			    {% for profe in lista_profesores %}
			    	{'value': "{{ profe.apellido }}, {{ profe.nombre }}", 'data': '{{ profe.codigo_udg }}'}{% if not forloop.last %},{% endif %}{% endfor %}
			    ],
			    onSelect: function (suggestion) 
			    {
			        // alert('Seleccionado: ' + suggestion.value + "|" + suggestion.data);
			        $('.in-codigo').val(suggestion.data);
			    },
			    minChars: 3,
			    lookupLimit: 10,
			    triggerSelectOnValidInput: true,
			    autoSelectFirst: true
			});

			$(document).on('close.fndtn.reveal', '[data-reveal]', function() 
			{
  				$('.in-profesor').autocomplete().hide();
  				$('.autocomplete-suggestions').remove();
			});

			$('.select-horario .time').timepicker(
			{
				'scrollDefault': 'now',
				'timeFormat': 'H:i',
				'step': function(i) 
				{
					return (i%2) ? 55 : 5;
				}
			});
			$('.select-horario').datepair();
			$(document).foundation('tooltip', 'reflow');
		});

		function EliminarHorario(ref, id)
		{
			container = $(ref).parent();
			botones = $('.button-delete');

			ref = $(ref).parent().parent().parent().find('#delete-horario-'+id).get(0);
			ref.value = "true";

			$('#horario-'+id).remove();

			if ( botones.length > 2 ) { container.remove(); }
				else { botones.remove(); }

			//console.log(ref.value);
		}

		function CrearHorario(ref)
		{
			nuevoNodo = $('div#cloneHorario').clone();
			contenedor = $('#add-horario-button-div').parent().get(0);
			button_div = document.getElementById('add-horario-button-div');

			nuevoNodo.get(0).id = '';

			x = $(nuevoNodo).get(0).getElementsByTagName("input");
			for (var i = 0; i < x.length; i++) 
			{
				temp_name = x[i].name;
				if (temp_name)
				{
					temp_name = temp_name.replace('NUEVO', next_hor);

					x[i].name = temp_name;

					console.log(temp_name);
				}
			};

			nuevoNodo.get(0).style.display = 'block';
			$('.select-horario .time', nuevoNodo).timepicker(
			{
				'scrollDefault': 'now',
				'timeFormat': 'H:i',
				'step': function(i) 
				{
					return (i%2) ? 55 : 5;
				}
			});

			$('.select-horario', nuevoNodo).datepair();

			contenedor.insertBefore(nuevoNodo.get(0), button_div);

			next_hor++;
		}

		function EnviarForm(ref)
		{
			//console.log($(ref).serialize());
			ref.disabled=true;

			div_error = document.getElementById('errores-div');
			div_info = document.getElementById('info-div');
			$(div_error).slideUp(165);

			$.ajax({
				url: ref.action,
				method: 'POST',
				data: $(ref).serialize()
			})
			.done(function(data)
			{
				if ( typeof(data)=='object' )
				{
					buffer = '<ul style="font-size: 0.8rem; margin-top: 15px;">';
					for (var i = 0; i < data.length; i++) 
					{
						buffer += '<li>';
						buffer += '<b>' + data[i].tipo + '</b>: ';
						buffer += data[i].desc;
						buffer += '</li>';
					};
					buffer += '</ul>';

					div_error.innerHTML = buffer;
					$(div_error).slideDown();
				}
				else
				{
					div_info.innerHTML='<p class="text-center font-small no-margin">' + data + '</p>';
					$(div_info).slideDown(250, function()
					{
						setTimeout(function()
						{
							$('a.close-reveal-modal').trigger('click');
						}, 1700);
					});
					$(div_info).slideDown(250);
				}
			});
		}

		
	</script>

	<div class="row">
		<div class="small-12 columns">
			<h2 class="text-center">Modificar Curso</h2>

			<form action="{{ request.path }}" onsubmit="EnviarForm(this); return false;" method="POST">{% csrf_token %}

				{# Datos materia #}
				<div class="row">
					<div class="medium-2 columns">
						<label>NRC</label>
							<input type="text" value="{{ curso.NRC }}" disabled>
					</div>
					<div class="medium-2 columns">
						<label>Clave</label>
							<input type="text" value="{{ curso.fk_materia.clave }}" disabled>
					</div>
					<div class="medium-8 columns">
						<label>Nombre</label>
							<input type="text" value="{{ curso.fk_materia.nombre }}" disabled>
					</div>
				</div>

				<div class="row">
					<div class="medium-2 columns">
						<label>Seccion</label>
							<input class="upper" type="text" name="in-secc" value="{{ curso.fk_secc }}" maxlength="5">
					</div>
					<div class="medium-8 columns">
						<label>Profesor</label>
							<input type="text" name="in-profesor" class="in-profesor" value="{{ curso.fk_profesor }}" data-tooltip aria-haspopup="true" title="Si quiere crear un profesor, por favor primero use la opcion correspondiente en el panel de Jefe de Departamento.">
					</div>
					<div class="medium-2 columns">
						<label>Codigo</label>
							<input type="text" name="in-codigo" class="in-codigo" value="{{ curso.fk_profesor.codigo_udg }}" readonly>
					</div>
				</div>

				<div class="row">
					<div class="medium-12 columns">
						<fieldset>
							<legend>Horario(s)</legend>
							{% for horario in curso.fk_horarios.all %}
								<input type="hidden" name="delete-horario-{{ horario.id }}" id="delete-horario-{{ horario.id }}" value="">
								<div class="row horario" id="horario-{{ horario.id }}">
									<div class="medium-4 columns">
										<div class="row">
											<div class="small-6 columns">
												<label>Edificio</label>
													<input type="text" name="in-horario-{{ horario.id }}-edif" class="in-horario-edif upper" value="{{ horario.fk_edif }}" maxlength="5" required>
											</div>
											<div class="small-6 columns">
												<label>Aula</label>
													<input type="text" name="in-horario-{{ horario.id }}-aula" class="in-horario-aula upper" value="{{ horario.fk_aula }}" maxlength="5" required>
											</div>
										</div>
									</div>

									<div class="medium-4 columns">
										<div class="row select-horario">
											<div class="small-6 columns">
												<label>Hora inicio</label>
													<input type="text" name="in-horario-{{ horario.id }}-hora-ini" class="in-hora-ini time start" value="{{ horario.hora_ini }}" maxlength="5" required>
											</div>
											<div class="small-6 columns">
												<label>Hora fin</label>
													<input type="text" name="in-horario-{{ horario.id }}-hora-fin" class="in-hora-fin time end" value="{{ horario.hora_fin }}" maxlength="5" required>
											</div>
										</div>
									</div>

									<div class="medium-4 columns">
										<div class="row" style="margin-top: 18px;">
											<div class="small-2 columns text-center">
												<label for="in-dias-L">L</label>
													<input type="checkbox" name="in-horario-{{ horario.id }}-dias-L" class="in-dias" id="in-dias-L" {% if horario.L %}checked{% endif %}>
											</div>
											<div class="small-2 columns text-center">
												<label for="in-dias-M">M</label>
													<input type="checkbox" name="in-horario-{{ horario.id }}-dias-M" class="in-dias" id="in-dias-M" {% if horario.M %}checked{% endif %}>
											</div>
											<div class="small-2 columns text-center">
												<label for="in-dias-I">I</label>
													<input type="checkbox" name="in-horario-{{ horario.id }}-dias-I" class="in-dias" id="in-dias-I" {% if horario.I %}checked{% endif %}>
											</div>
											<div class="small-2 columns text-center">
												<label for="in-dias-J">J</label>
													<input type="checkbox" name="in-horario-{{ horario.id }}-dias-J" class="in-dias" id="in-dias-J" {% if horario.J %}checked{% endif %}>
											</div>
											<div class="small-2 columns text-center">
												<label for="in-dias-V">V</label>
													<input type="checkbox" name="in-horario-{{ horario.id }}-dias-V" class="in-dias" id="in-dias-V" {% if horario.V %}checked{% endif %}>
											</div>
											<div class="small-2 columns text-center">
												<label for="in-dias-S">S</label>
													<input type="checkbox" name="in-horario-{{ horario.id }}-dias-S" class="in-dias" id="in-dias-S" {% if horario.S %}checked{% endif %}>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									{% if curso.fk_horarios.all|length > 1 %}
									<div class="small-4 columns right">
										<button class="button tiny expand radius alert no-margin button-delete" onclick="EliminarHorario(this, '{{ horario.id }}')">Eliminar este horario</button>
									</div>
									{% endif %}
								</div>
							{% endfor %}

							<div class="row" id="add-horario-button-div">
									<div class="small-4 columns right">
										<button type="button" class="button tiny expand radius success no-margin" onclick="CrearHorario(this)">Añadir otro horario</button>
									</div>
									<div data-alertbox class="alert-box alert radius small-8 columns left alert-box-edit" id="errores-div" style="display: none;"></div>
									<div data-alertbox class="alert-box success radius small-8 columns left alert-box-edit" id="info-div" style="display: none;"></div>
							</div>
						</fieldset>
					</div>

				</div><hr/>

				<div class="row">
					<div class="medium-5 columns right">
						<div class="row collapse">
							<div class="medium-6 columns">
								<button class="button success expand">Guardar cambios</button>
							</div>

							<div class="medium-6 columns">
								<a class="button alert expand" onclick="$('a.close-reveal-modal').trigger('click');">Cancelar</a>
							</div>

							<a class="close-reveal-modal" style="display: none !important;">X</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

<!-- HORARIO CLONABLE -->
<div id="cloneHorario" style="display: none;">
	{# <input type="hidden" name="delete-horarioN-NUEVO" id="delete-horarioN-NUEVO" value=""> #}
	<div class="row horario" id="horarioN-NUEVO">
		<div class="medium-4 columns">
			<div class="row">
				<div class="small-6 columns">
					<label>Edificio</label>
						<input type="text" name="in-horarioN-NUEVO-edif" class="in-horario-edif upper" value="{{ horario.fk_edif }}" maxlength="5" required>
				</div>
				<div class="small-6 columns">
					<label>Aula</label>
						<input type="text" name="in-horarioN-NUEVO-aula" class="in-horario-aula upper" value="{{ horario.fk_aula }}" maxlength="5" required>
				</div>
			</div>
		</div>

		<div class="medium-4 columns">
			<div class="row select-horario">
				<div class="small-6 columns">
					<label>Hora inicio</label>
						<input type="text" name="in-horarioN-NUEVO-hora-ini" class="in-hora-ini time start" value="{{ horario.hora_ini }}" maxlength="5" required>
				</div>
				<div class="small-6 columns">
					<label>Hora fin</label>
						<input type="text" name="in-horarioN-NUEVO-hora-fin" class="in-hora-fin time end" value="{{ horario.hora_fin }}" maxlength="5" required>
				</div>
			</div>
		</div>

		<div class="medium-4 columns">
			<div class="row" style="margin-top: 18px;">
				<div class="small-2 columns text-center">
					<label for="in-dias-L">L</label>
						<input type="checkbox" name="in-horarioN-NUEVO-dias-L" class="in-dias" id="in-dias-L" {% if horario.L %}checked{% endif %}>
				</div>
				<div class="small-2 columns text-center">
					<label for="in-dias-M">M</label>
						<input type="checkbox" name="in-horarioN-NUEVO-dias-M" class="in-dias" id="in-dias-M" {% if horario.M %}checked{% endif %}>
				</div>
				<div class="small-2 columns text-center">
					<label for="in-dias-I">I</label>
						<input type="checkbox" name="in-horarioN-NUEVO-dias-I" class="in-dias" id="in-dias-I" {% if horario.I %}checked{% endif %}>
				</div>
				<div class="small-2 columns text-center">
					<label for="in-dias-J">J</label>
						<input type="checkbox" name="in-horarioN-NUEVO-dias-J" class="in-dias" id="in-dias-J" {% if horario.J %}checked{% endif %}>
				</div>
				<div class="small-2 columns text-center">
					<label for="in-dias-V">V</label>
						<input type="checkbox" name="in-horarioN-NUEVO-dias-V" class="in-dias" id="in-dias-V" {% if horario.V %}checked{% endif %}>
				</div>
				<div class="small-2 columns text-center">
					<label for="in-dias-S">S</label>
						<input type="checkbox" name="in-horarioN-NUEVO-dias-S" class="in-dias" id="in-dias-S" {% if horario.S %}checked{% endif %}>
				</div>
			</div>
		</div>
	</div>

	{% comment %}
		<div class="row">
			{% if curso.fk_horarios.all|length > 1 %}
			<div class="small-4 columns right">
				<button class="button tiny expand radius alert no-margin button-delete" onclick="EliminarHorario(this, 'NUEVO')">Eliminar este horario</button>
			</div>
			{% endif %}
		</div>
	{% endcomment %}
</div>
{% endif %}