{% extends 'base.html' %}

{% block title %}
    Inicio - Secretarias
{% endblock %}

{% block poshead %}
    {% if bienvenida %}
    <style type="text/css">
        .sidebar-image { opacity: 0; }
        .main-banner { display: none; }
    </style>
    <script type="text/javascript">
        $( document ).ready(function() {
            $('.main-banner').delay(300).slideDown(function() {
                $('.sidebar-image').animate({ opacity: 1 }, 1100);
            });
        });
    </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        {% load staticfiles %}
        {% load verificaciones_iniciales %}

        {% advertencias_sist %}

        {% for dep in lista_departamentos %}
        <div class="large-4 medium-6 small-12 columns">
            <div class="division-banner"style="background-image: url('{% static 'img/logos_carreras/' %}{{ dep.nick }}.png');"></div>
            <div class="large-12 colums panel">
                <h3 class="text-center">{{ dep.nombre }}<h3>
                <div class="row">
                    <div class="large-12 columns">
                        <button class="button expand" onclick="location.href='/{{ dep.nick }}/listas/tCompleto'">Lista - Tiempo Completo</button>
                    </div>
                    <div class="large-12 columns">
                        <button class="button expand" onclick="location.href='/{{ dep.nick }}/listas/tMedio'">Lista - Medio Tiempo</button>
                    </div>
                    <div class="large-12 columns">
                        <button class="button expand" onclick="location.href='/{{ dep.nick }}/form-incidencias'">Ver Incidencias</button>
                    </div>
                    <div class="large-12 columns">
                        <button class="button expand" onclick="location.href='/{{ dep.nick }}/form-reporte-incidencias'">Reportar Incidencia</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% load staticfiles %}
        <div class="large-4 medium-6 small-12 columns end">
            <div class="division-banner" style="background-image: url('{% static 'img/logos_carreras/robotica.png' %}');"></div>
        <div class="large-12 colums panel">
            <h3 class="text-center">Estadísticas<h3>
            <div class="row">
                <div class="large-12 columns">
                    <button class="button expand" onclick="location.href='{% url 'estadisticas_profesor' %}'">Profesor</button>
                </div>
                <div class="large-12 columns">
                    <button class="button expand" onclick="location.href='{% url 'estadisticas_materia' %}'">Materia</button>
                </div>
                <div class="large-12 columns">
                    <button class="button expand" onclick="location.href='{% url 'estadisticas_ciclo' %}'">Ciclo</button>
                </div>
                {% for departamento in lista_departamentos %}
                <div class="large-12 columns">
                    <button class="button expand" onclick="location.href='{% url 'estadisticas_departamento' dpto=departamento.nick %}'">{{departamento}}</button>
                </div>
                {% endfor %}
            </div>
        </div>
        
{% endblock %}