/* Modificaciones al codigo por defecto de foundation */
body { background-color: #e9eaed; }
/* Estilos para la barra superior >> INICIO */
.top-bar 
{
	background-color: #4285F4 !important;

	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 1px 4px rgba(0, 0, 0, 0.3);
}
.top-bar .separator
{
	border-left: 0.15rem solid #4285E4;
}
.top-bar .bg-color
{
	background-color: #4285F4 !important;
}
.top-bar ul.dropdown li a:hover
{
	background-color: #3672D2 !important;
}
/* Estilos para la barra superior >> FIN */
.row
{
	margin: 0 auto;
	max-width: 62.5rem;
	width: 100%;
}
.full-width
{
	background: #e9eaed;
	max-width: 100% !important;
}
.alert-box.alert-box-edit
{
	padding: 12px 6px !important;
}
.alert-box.error-edit
{
	background-color: #FFC4C2 !important;
}

fieldset legend
{
	background-color: transparent !important;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;

	box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
	-moz-box-shadow:    0 0 12px rgba(0, 0, 0, 0.06);
}

/* Estilos globales adicionales */
/* Margenes y Espaciado */
.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }
.no-margin-bot { margin-bottom: 0 !important; }

/* Colores accesibles */
.white-bg { background-color: #FFF; }
.white-font { color: #FFFFFF; }

/* Tablas */
.full-width-table { width: 100% !important; }
.especialHead { background: #fff !important; }
.sign-field { width: 145px !important; }

/* Modificadores de fuente */
.font-small { font-size: 13px; }
.upper { text-transform: uppercase; }


.division-banner 
{
	display: block;
	height: 75px;

	background-image: url("/static/img/logos_carreras/robotica.b60734ff64f5.png");
	background-repeat: repeat-x;
	background-position: center;

	overflow: hidden;

	margin: 1rem 0 0 0 !important;
	padding: 0 !important;
}

#container 
{
	padding-top: 0.7rem;
	padding-left: 0.6rem;
	background: #e9eaed;
}

div.full-width-container
{
	padding: 30px; 
	padding-bottom: 0;
	margin: 0 16px;
	width: auto !important; 

	border: 1px solid #CBCBCB;
	background-color: #FFF; 
}

ul.sidebar-nav
{
	margin: 24px 0 !important;
	border-bottom: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
	background-color: #FCFCFC;
}

ul.sidebar-nav li
{
	padding: 4px 24px;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

ul.sidebar-nav li:hover
{
	background-color: rgb(231, 231, 231);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIUlEQVQIW2NkQAL////fzAjjgzmMjL5gARgHxGZE5oAEAA0GD7VMeqp7AAAAAElFTkSuQmCC);

	box-shadow:         0 0 5px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
	-moz-box-shadow:    0 0 5px rgba(0, 0, 0, 0.08);
}

ul.sidebar-nav li a
{
	display: block;
	color: #6C6C6C;
	font-size: 14px;
}

.sidebar-image
{
	display: block; 
	width: 100%; 
	height: 125px; 

	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center center; 
}

ul.lt-large
{
	margin-top: 0 !important;
	overflow: hidden;
}

ul.lt-large li 
{
	float: left !important;
}

/* Contenedor del banner */
.main-banner
{
	display: block; 
	height: 100px; 
	position: relative; 
	background-repeat: repeat;
}

/* Degradado del banner */
.transparent-black-bg
{
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
}

#comentario{ resize: none; }

#creditos-div
{
	position: relative; 
	display: block;
		width: 100%; 
		height: 29px; 

	background-color: #F7F7F7; 
	border-top: 1px solid #CFCFCF;
}

#creditos-div > a,
#creditos-div > p
{
	display: block; 
	width: 90%; 
	margin: 0 auto; 
	margin-top: 4px;
	padding: 0; 

	color: #676767; 
	font-size: 13px; 

	transition: 0.65s;
}

.assist-col.no-asistio { background-color: #FF7171; }

.advertencias-sistema div.warn
{
	font-size: 13px;
	margin-bottom: 12px;
}

.paginator-count
{
	position: absolute; 
		right: 0; 
		right: 32px;
}

.suplentes { color: darkgray; }
.suplentes.margin { margin-left: 18px; }